/* Main header
----------------------------------------- */
.main-header {
	padding-top:0.5rem;
}
.main-header__text {
	margin-bottom:0.5rem;
	font-size:0.875rem;
	color:#333;
}
.main-header .button {
	float:right;
}