/* Default browsers pixel base
----------------------------------------- */
$pixelBase : 16;

/* MediaQueries Breakpoints (next converted into EM units)
----------------------------------------- */
$mq-small-bp   : 300px;
$mq-medium-bp  : 600px;
$mq-large-bp   : 900px;